html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bevan', cursive;
  list-style-type: none;
  color: #fff;
  text-align: center;
}

nav {
  display: inline;
  list-style-type: none;
  text-align: center;
}

.cards a {
  color: #fff;
  background-color: #713837;
  text-decoration: none;
  display: inline;
  margin: 0.3em;
  padding: 0.5em;
  border-radius: 4px;
}

.cards a:hover {
  text-decoration: none;
  background-color: #f33;
}

body {
  background-color: #79756f;
  font-weight: normal;
  margin: 0;
}

/* display: inline-block */
