html {
  background-color: #dbd6cf;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-family: "Bevan", serif;
  list-style-type: none;
  color: #fff;
  text-align: center;
  padding: 0;
}

nav {
  display: inline;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

.cards a {
  color: #fff;
  background-color: #713837;
  text-decoration: none;
  padding: 0.75em;
  margin: auto;
  border-radius: 4px;
}

.cards a:hover {
  text-decoration: none;
  background-color: #f33;
}

header {
  background-color: #79756f;
  padding: 0.2em;
}

body {
  margin: 0;
  background-color: #595652;
  padding: 0;
}
